<?xml version='1.0' encoding='utf-8'?>
<widget id="net.owl-hollow.media-critic" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Games Critic</name>
    <description>
        Retrieve game info by scanning its barcode.
    </description>
    <author email="echo.bjornd@gmail.com" href="http://owl-hollow.net">
        Kirill Lebedev
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />
</widget>
