.x-amazon-offers-item {
    padding: 10px;
    img {
        float: left;
        margin: 0 10px 10px 0;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
    .x-amazon-offers-item-price {
        font-style: italic;
        margin: 3px 0 3px 0;
        span {
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
        }
    }
    ul {
        margin-left: 10px;
    }
    a {
        color: #1676b9;
    }
}